{% extends 'layouts/home.html' %} {% block content %}

<div class="container text-center bg-white p-4 w-50">

    {% from "macros/renderForm.html" import render_field %}

    <form class="form" method="POST" id="frmLogin" name="frmLogin">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <h1 class="h3 mb-3 font-weight-normal">Configuración de modulo</h1>

        
<div class="container-fluid">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="alert alert-success"> {{ message }} </div>
    {% endfor %} {% endif %} {% endwith %}
</div>
        



        <div class="form-group ">
            {{ render_field(form.numeroSerie, class='form-control form-control-lg', placeholder='Numero de serie', value=data.numeroserie) }}
            
        </div>


        <div class="form-group">
            {{ render_field(form.MQTTBroker, class='form-control form-control-lg', placeholder='BROKER IP', value=data.mqttbroker) }}
           
        </div>

        <div class="form-group">
            {{ render_field(form.MQTTPort, class='form-control form-control-lg', placeholder='Puerto MQTT', value=data.mqttport) }}
            
        </div>

        <div class="form-group">
            {{ render_field(form.MQTTUser, class='form-control form-control-lg', placeholder='Usuario MQTT', value=data.mqttusuario) }}
           
        </div>

        <div class="form-group">
            {{ render_field(form.MQTTPass, class='form-control form-control-lg', placeholder='Password MQTT', value=data.mqttpass) }}
           
        </div>



        <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
        <a class="btn btn-lg btn-primary btn-block" href="/">Regresar</a>
        
    </form>


</div>


{% endblock %}